body {
    font-family: Arial, sans-serif;
}

.menu-andalan {
    background-color: #f7e9d7;
    /* Warna background sesuai dengan gambar */
}

.menu-andalan h2 {
    font-weight: bold;
}

.menu-andalan p {
    color: #6c757d;
    /* Warna teks deskripsi */
}

.menu-andalan img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-andalan .col-md-3 p {
    font-weight: bold;
    color: #000;
    /* Warna teks nama minuman */
}